
<div class="row">
  <div class="span12" style="min-height: 150px;"></div>
</div>
<div class="row">
  <div class="span4" >
    <center><i class="icon-building icon-4x"></i>
    <h4><%= @projects %> Projects</h4></center>
  </div>
  <div class="span4">
    <center><i class="icon-group icon-4x"></i>
    <h4><%= @people %> People</h4></center>
  </div>
  <div class="span4">
    <center><i class="icon-sitemap icon-4x"></i>
    <h4><%= @drones %> Drones</h4></center>
  </div>
</div>
<br/>
<div class="row">
  <div class="span4 offset4" style="margin-top: 50px; min-height: 150px;">
    <center><a class="btn btn-large btn-primary" href="/projects/new" role="button" data-toggle="modal" data-target="#NewProjectModal" type="button"> New Project </a></center>
  </div>
</div>
<br/>

